.request {
  background-color: #fff;
  padding: 10px 0;
  border-radius: 4px;
}

.request * {
  flex: 1;
  padding: 0 10px;
}

.request-actions button:first-child {
  margin-right: 5px;
}

.request-actions button.btn-success {
  color: #fff !important
}